body {
	padding-left: 20%;
	padding-right: 20%;
}

/** 헤더 **/
.header {
	padding: 2em 0em 0em 0em;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
}
.header_box_common {
	margin: 1em 5em 0em 2em;
	display: flex;
	justify-content:center;
}

.header_box_middle {
	margin: 1em 5em 0em 2em;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-start;
}

.header_box_right {
	margin: 0.5em 0em 0em 0em;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-end;
}

.header_icon_home {
	margin: 0em 0em 0em 1em;
	height: 2.5em;
	cursor: pointer;
}

.header_link_icon {
	margin: 0.2em 0em 0em 0em;
	height: 1em;
	cursor: default;
	pointer-events: none;
}

.header_link_text {
	margin: 0em 0.5em 0em 0.5em;
	font-size: medium;
	font-weight: bolder;
	cursor: pointer;
}
.header_link_a{
	text-decoration: none;
	color:inherit;
}
.header_button {
	margin: 0em 0.25em 0em 0.25em;
	width: 5em;
	height: 2.25em;
	border-radius: 8px;
	border: none;
	background-color: rgb(255, 119, 0);
	color: white;
	font-size: medium;
	font-weight: bolder;
	cursor: pointer;
}

.header_user_name {
	margin: 0em 0.25em 0em 0.25em;
	width: 5em;
	height: 2.25em;
	border-radius: 8px;
	border: none;
	color: black;
	font-size: medium;
	font-weight: bolder;
	cursor: pointer;
	pointer-events: none;
}

.header_link:hover {
	color: red;
}

.header_button:hover {
	color: red;
}
/** 헤더 **/

/** 홈 - 슬라이더 **/
.slider_image {
	width: 100%;
	height: 20em;
	pointer-events: none;
}
/** 홈 - 슬라이더 **/

/** 홈 - 카테고리 **/
.category {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
}
/** 홈 - 카테고리 **/

/** 홈 - 소개 **/
.introduction_image {
	width: 100%;
	margin: 0.5em 0em 0.5em 0em;
	pointer-events: none;
}
/** 홈 - 소개 **/

/** footer **/
.footer {
	height: 16em;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-around;
	font-size: medium;
	font-weight: bolder;
}

.footer_box {
	width: 14em;
	height: 12em;
}

.footer_box_ul {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
}

.footer_box_ul > li {
	list-style: none;
}

.footer_box > a {
	text-decoration: none;
	color: rgb(115, 114, 114);
}

.footer_box_link_icon {
	width: 3em;
	height: 3em;
}

.footer_stroke {
	width: 100%;
	background-color: rgb(255, 119, 0);
	border: solid thin rgb(255, 119, 0);
}

.footer_box_stroke {
	width: 100%;
	background-color: rgb(206, 203, 203);
	border: solid thin rgb(206, 203, 203);
}
/** footer **/
/** login **/
.login_box{
	justify-content: center;
	border: 1px solid black;
	height:500px;
    width:400px;
    margin-top: 5em;
}
.text_box{
    width: 15em;
    height: 2em;
    outline: none;
    font-size:1rem;
        }
        
.image_box{
	width:100%;
	display:flex;
	flex-wrap: wrap;
	justify-content: center;
}

.image_item{
	width:15em;
}


        .body{
            padding-left: 15%;
            padding-right: 15%;
        }
        .review_body{
            height: auto;
        }
/** nav **/
        .nav_box{
            padding-left: 10%;
            padding-right: 10%;
        }
        .nav_box_left{
            margin-top: 4em;
            margin-bottom:0.7em;
            float: left;
        }
        .nav_box a{
            color: black;
            font-size: large;
            font-weight: bolder;
            text-decoration: none;
            font-size: medium;

        }

        .nav_box_right{
            margin-top: 4em;
            margin-bottom:0.7em;
            float: right;
        }

        .nav_icon_home{     
            height: 3em;
        }

        .nav_icon_setting{
            width:2em;
            height:2em;
            margin-left: 1.2em;
            margin-right:0.5em;
            margin-bottom: 0;
        }

        .nav_button{
            width: 6em;
            height: 2.5em;
            border-radius :8px;
            border: none;
            background-color: rgb(255, 119, 0);
            color:white;
            font-size: medium;
            font-weight: bolder;
            margin-right: 1em;
        }

        .stroke{
            margin-top: 1em;
            margin-bottom: 1em;
            width: 100%;
            background-color: rgb(255, 119, 0);
            border:solid thin rgb(255, 119, 0);
        }
/** nav **/

/** main **/

        .slider{
            margin-top: 3em;
            margin-bottom: 2em;
            width: 100%;
            overflow: hidden;
        }

        .slides{
            display:flex;
            overflow-x: auto;
            scroll-snap-type: x mandatory;
            scroll-behavior: smooth;
            -webkit-overflow-scrolling: touch;
        }

        .slides::-webkit-scrollbar{
            width: 10px;
            height: 10px;
        }

        .slides::-webkit-scrollbar-thumb {
            background: rgb(250, 197, 151);
            border-radius: 10px;
        }

        .slide::-webkit-scrollbar-track{
            background: transparent;
        }

        .slides > div{
            scroll-snap-align: start;
            flex-shrink: 0;
            width: 100%;
            height: 310px;
            overflow: hidden;
            background: rgb(255, 247, 230);
            transform-origin: center center;
            transform: scale(1);
            transition: transform 0.5s;
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
        }


        .image_slide{
            object-fit: cover;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }


        .slider > a{
            display: inline-flex;
            width: 1.5rem;
            height: 1.5rem;
            background: rgba(69, 176, 69, 0.7);
            align-items: center;
            justify-content: center;
            border-radius: 50%;
            margin: 0.5em;
            position: relative;
        } 

        .slider > a:active{
            top: 3px;
        }

        .slider > a:focus{
            background: rgb(255, 119, 0);
        }

        .image_site_introduction{
            margin: 0;
            width:100%;
            height: 23em;
        }
/** main **/


/** category **/
        .category_icon{
            height:8em;
            margin-bottom: 5em;
            display:flex;
            flex-wrap: wrap;
            justify-content: center;
            justify-content: space-evenly;
        }

        .cateogry_li{
            list-style: none;
        }
        
        .category_container{
        margin-top: 8em;
        }
        .image_category_product{
        width: 10em;
        height: 10em;
        }
        .div_category_container{
        display: flex;
        justify-content: space-around;
        align-items: center;
        text-align: center;
        margin-bottom: 5em;
        }
        .category_p_style{
        margin: 0em;
        padding: 0em;
        width: 10em;
        }
/** category **/

/** product_read **/
        .read_product_top{
            display: flex;
            flex-wrap: wrap-reverse;
            width: 100%;
            height:auto;
        }
        .read_product_top_image{
            width: 50%;
        }
        .read_product_top_information{
            width: 50%;
        }
        .read_product_notice{
            color: red;
        }

        .stroke_read_product{
                margin-top: 1.5em;
                margin-bottom: 1.5em;
                width: 100%;
                height: 0;
                background-color: rgb(206, 203, 203);
                border:solid 0.2px rgb(206, 203, 203);
            }

        .btn_select_date{
            width: 100%;
            height: 5em;
            border-radius: 0;
            border: solid, black, 1em;
            background-color: white;
            font-size: medium;
            font-weight: bold;
        }
        .additional_list{
            margin-left: 2em;
            margin-top: 2em;
            height: 2em;
            width: 60%;
        }
        
        .selected_additional_order{
            padding-top: 1em;
            display: flex;
            border-radius: 0;
            height: 3em;
        }
        .selected_additional_order_name{
            width: 60%;
            border-radius: 0;
            border: black dotted 2px;
            background-color: rgb(255, 245, 225);
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .selected_additional_order_quantity{
            width: 20%;
            border-radius: 0;
            border: black dotted 2px;
            background-color: rgb(255, 245, 225);
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .selected_additional_order_price{
            width: 20%;
            border-radius: 0;
            border: black dotted 2px;
            background-color: rgb(255, 245, 225);
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .read_price{
            margin-top: 2em;
            margin-bottom:1.5em;
            margin-left: 85%;
            font-size: large;
        }
        .rent_cart_button{
            width: 100%;
            display: flex;
            justify-content: space-between;
        }
        .button_rent{
            border-radius: 8px;
            border: none;
            background-color: rgb(255, 153, 52);
            height: 3em;
            width: 40%;
            font-size: large;
            font-weight: bold;
        }
        .button_cart{
            border-radius: 8px;
            border: none;
            background-color: rgb(255, 202, 99);
            height: 3em;
            width: 40%;
            font-size: large;
            font-weight: bold;
        }

        .product_read_middle input[type=radio]{
            display: none;
        }

        #radio_read_image:checked ~ .product_read_tab label:nth-child(1),
        #radio_review:checked ~ .product_read_tab label:nth-child(2){
            background-color: rgb(255, 119, 0);
            color: white;
            box-shadow:none;
        }

        .radio_content > div {
            display: none;
        }
        #radio_read_image:checked ~ .radio_content div:nth-child(1),
        #radio_review:checked ~ .radio_content div:nth-child(2){
            display: block;
        }

        .product_read_tab{
            overflow: hidden;
        }

        .product_read_tab label{
            float: left;
            width: 50%;
            font-size: large;
            font-weight: bold;
            cursor: pointer;
            text-align: center;
            padding: 1.6em 0;
            user-select: none;
            -webkit-user-select: none;
        }

        .radio_content{
            width: 100%;
            display: flex;
            justify-content: center;
        }
        .radio_content_review_box{
            margin-top: 1em;
            width: 100%;
            height: 13em;
            display: flex;
        }
        .radio_content_review_img{
            padding: 1%;
            width: 20%;
        }
        .image_radio_content{
            width: 8em;
            height: 8em;
        }
        .radio_content_review_text{
            line-height: 20px;
            padding: 1%;
            width: 80%;
        }
/** product_read **/


/** cart **/
        .cart_name{
            display: flex;
            height: 1.5em;
            background-color: rgb(231, 231, 231);
            text-align: center;
        }

        .cart_product_information_name{
            font-size: small;
            width: 40%;
        }

        .cart_product_information{
            font-size: small;
            width: 20%;
        }

        .cart_items{
            
            height: 8em;
            width: 100%;
            display: flex;
            
        }        
        .cart_product_name{
            width: 40%;
            display: flex;
            justify-content: space-around;
        }
        .thumnail_image{
            width: 20%;
        }
        .iamge_cart_thumbnail{
            height: 8em;
        }
        .product_name{
            width: 80%;
            margin-left: 5%;
        }

        .cart_product_price{
            padding-top: 3%;
            width: 20%;
            text-align: center;
        }

        .cart_product_quantity{
            padding-top: 3%;
            width:20%;
            text-align: center;
        }

        .cart_product_total_price{
            padding-top: 3%;
            width: 20%;
            font-weight: bold;
            text-align: center;
        }

        .rent_return_date{
            background-color: rgb(242, 242, 242);
            height: 4em;
            width: 100%;
        }

        .rent_date{

            display: flex;
        }
        .rent_box{
            width: 2.2em;
            height: 2em;
            background-color: orange;
        }

        .return_box{
            color: white;
            width: 2.2em;
            height: 2em;
            background-color: rgb(106, 46, 5);
        }
        .return_date{
            display: flex;
        }
        .rent_box_date{
            margin-left: 1em;
        }
        .total_price{

            font-size: x-large;
            display: flex;
            justify-content: center;
        }
        .total_price_p_style{
            color: rgb(232, 127, 0);
        }
        .order_delete_button{
            display: flex;
            justify-content: center;
            
        }

        .button_order{
            color: white;
            border-radius: 5px;
            border: none;
            background-color: rgb(255, 153, 52);
            height: 3em;
            width: 10em;
            font-weight: bold;
            font-size: medium;
        }

        .button_delete{
            color: white;
            border-radius: 5px;
            border: none;
            background-color: rgb(121, 121, 121);
            height: 3em;
            width: 10em;
            font-weight: bold;
            font-size: medium;
        }
/** cart **/


/** review_read **/


        .review_read_title {
            margin-top: 3em;
            margin-bottom: 1em;
            text-align: center;
            color: rgb(55, 55, 55);
        }
        .review_body h2 {
            padding-left: 2%;
            color: rgb(144, 144, 144);
        }

        .stroke_review{

            margin-top: 1em;
            margin-bottom: 1em;
            width: 100%;
            background-color: rgb(55, 55, 55);
            border:solid thin rgb(55, 55, 55);
        }

        .review_information{
            display: flex;
            justify-content: end;
        }

        .review_content{
            width: 100%;
            height:20em auto;
            border: 1px solid rgb(55, 55, 55);
            color: rgb(55, 55, 55);
        }

        .review_content p{
            padding: 3%;
            text-align: start;
        }

        .review_content_image{
            margin-top: 1em;
            width: 100%;
            height:20em auto;
            border: 1px solid rgb(55, 55, 55);
            color: rgb(55, 55, 55);
        }

        .list_comment p{
            color: rgb(106, 102, 102);
            padding-left: 2%;
        }
        

        .comment_information{
            font-size: small;
        }

        .stroke_comment_title{
            margin-top: 0.5em;
            margin-bottom: 1em;
            width: 100%;
            background-color: rgb(55, 55, 55);
            border:solid thin rgb(55, 55, 55);
        }
        .comment_content{
            font-size: medium;
        }

        .btn_down_level_comment{
            color: white;
            background-color:  rgb(255, 119, 0);
            border-radius: 2px;
            border: 0;
            height: 2em;
            width: 3em;
            padding: 1px;

        }

        .stroke_comment_content{
            margin-top: 0.5em;
            margin-bottom: 1em;
            width: 100%;
            height: 0;
            background-color: rgb(206, 203, 203);
            border:solid 0.2px rgb(206, 203, 203);
        }

        .commentForm{
            height: 10em;
            background-color: rgb(255, 245, 225);
            padding: 3%;
        }
        
        .commentFormPlusBox{
			background-color: rgb(192, 192, 192);
			padding: 3% 3% 3% 6%;
		}
        .commentFormPlus{
			height: 10em;
			background-color: rgb(192, 192, 192);
		}

        .commentForm_content{
            width: 100%;
            height: 6em;
            border: 0.7px rgb(55, 55, 55);
            border-radius: 3px;
        }
        
        
        .btn_comment{
            margin: 1em;
            color: white;
            background-color:  rgb(157, 155, 154);
            border-radius: 2px;
            border: 0;
            height: 2em;
            width: 3em;
            padding: 1px;
            float: right;
        }
        
        .read_btn{
            margin-top: 2em;
            display: flex;
            justify-content: center;
        }

        .btn_modify{
            margin: 1em;
            color: white;
            background-color: rgb(78, 78, 78);
            border:none;
            border-radius: 3px;
            width: 8em;
            height: 3em;
        }

        .btn_delete{
            margin: 1em;
            color: white;
            background-color: rgb(255, 119, 0);
            border:none;
            border-radius: 3px;
            width: 8em;
            height: 3em;
        }

        .btn_reply{
            margin: 1em;
            color: white;
            background-color: rgb(255, 119, 0);
            border:none;
            border-radius: 3px;
            width: 8em;
            height: 3em;
        }

        .btn_modfiy_approve{
            margin: 1em;
            color: white;
            background-color: rgb(255, 119, 0);
            border:none;
            border-radius: 3px;
            width: 8em;
            height: 3em;
        }

        .btn_cancle{
            margin: 1em;
            color: white;
            background-color: rgb(78, 78, 78);
            border:none;
            border-radius: 3px;
            width: 8em;
            height: 3em;
        }
/** review_read **/


/** review_register **/

		.review_register_writerForm{
			width:20%;
		}
		
        .review_register_titleForm{
            width: 100%;
        }

        .review_register_contentForm{
            width: 100%;
            height: 25em;
            margin-bottom: 3em;
        }

        .btn_upload_file{
            margin-top: 2em;
            color: white;
            background-color: rgb(255, 119, 0);
            border: none;
            border-radius: 3px;
        }

        .image_regiser_thumbnail{
            margin-top: 2em;
            width: 6em;
            height: 6em;
        }

        .register_list_btn{
            margin-top: 5em;
            display: flex;
            justify-content: center;
        }
        .btn_register{
            margin: 1em;
            color: white;
            background-color: rgb(255, 119, 0);
            border:none;
            border-radius: 3px;
            width: 8em;
            height: 3em;
        }
        .btn_list{
            margin: 1em;
            color: white;
            background-color: rgb(78, 78, 78);
            border:none;
            border-radius: 3px;
            width: 8em;
            height: 3em;
        }

/** review_register **/

/** review_list **/
        .list_name{
            color: rgb(55,55,55);
            display: flex;
            height: 3em;
            text-align: center;
            align-items: flex-end;
        }
        .list_row{
            color: rgb(55,55,55);
            height: 1em;
            width: 100%;
            display: flex;
            align-items: center;
            text-align: center;
        }   
        .list_articleNo{
            width: 10%;
        }
        .list_title{
            width: 70%;
        }
        .list_title a{
            color: rgb(55,55,55);
            text-decoration: none;
        }
        .list_wirteDate{
            width: 10%;
        }
        .list_views{
            width: 10%;
        }
        



/** review_list **/

/** map **/

        .directions{
            margin-top: 3em;
            width: 100%;
        }
        .directions_text{
            font-size: medium;
            font-weight: bold;
            margin: none;
        }
        .map{
            margin-top: 3em;
        }
        .map iframe{
            width: 100%;
        }
        .directions h3{
            color: rgb(255, 70, 24);
        }

/** map **/

/** footer **/

        .footer_stroke{
            margin-top: 8em;
            margin-bottom: 1em;
            width: 100%;
            background-color: rgb(255, 119, 0);
            border:solid thin rgb(255, 119, 0);
        }

        .footer{
            padding-left: 10%;
            padding-right: 10%;
            height: 13em;
            display: flex;
            position: relative;
            justify-content: space-between;
            
        }
        .footer_textbox{
            color: rgb(115, 114, 114);
            width:12em;
            height: 6em;
            margin-left: 1em;
        }

        .stroke_footer_textbox{
            float: left;
            width: 100%;
            background-color: rgb(206, 203, 203);
            border:solid thin rgb(206, 203, 203);
        }
        .footer_textbox a{
            text-decoration: none;
            color: rgb(115, 114, 114);
        }
        
        .footer_icon{
            display: flex;
            position: absolute;
            right: 0;
            justify-content: flex-end;
            bottom: 0px;
        }

        .image_footer{
            margin: 1em;
            width: 3.5em;
            height: 3.5em;
        }
/** footer **/
